# Ignore virtual environment
venv/

.env
IMP Screenshots/
food bot logo.jpg
food_data_full.sql
IMP Terms, Jargons.txt
routines.sql


# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore data files
data/raw/*
data/processed/*.env
.env
